/*
!/.docker
/.docker/db
!/src
!/.*
!/*.json
!/*.js
!/*.yaml
!/*.php
!/Makefile
!/sites/all/libraries
!/sites/all/modules/ritual95
!/sites/all/modules/product
!/sites/all/modules/zakaz
!/sites/all/themes/Ritual95_2015
