.page-header-3fev{font-size:32px}
.layout-340D{border:1px solid #ddd;padding:24px;width:100%}
.main-page-2dl_,.main-page-wqMX{color:#000;font:500 16px/20px Arial}.main-page-wqMX{color:red}
body,html{height:100%;margin:0;padding:0;width:100%}.app{color:#444;font-family:Helvetica,sans-serif}